
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #eee;
  font-family: 'Roboto', sans-serif;
}
form{
    display: none;
}
html{
    position: relative;
}
body{
    background:url(img/back.jpg) fixed;
    background-size: cover;
    height: 100vh;
}
body::before{
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 40%;
  background:linear-gradient(to bottom, rgba(177, 4, 177, 0.555), rgba(255, 0, 0, 0.466));
  transform: translateX(45%) skew(-30deg);
  position: absolute;
  z-index: -1;
}
body::after{
  content: "";
  top: 0;
  left: 0; 
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -2;
  position: absolute;
}

/* styling the nabar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 20vh;
    border-bottom: 2px solid rgba(255, 255, 255, 0.459);
    transition: 0.5s;
    background-color: transparent;
    position: fixed;
    z-index: 20;
}
nav.change{
    background-color: black;
}
.logo{
    flex: 1.25;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    position: relative;
}
.logo::after, .logo::before{
    content: "";
    width: 0;
    height: 0;
    top: 32%;
    left: 18%;
    border: 18px solid transparent;
    border-bottom-color: white;
    position: absolute;
}
.logo::after{
    border-bottom-color: rgb(209, 209, 209);
    left: 21%;
    z-index: 2;
}


li{
    list-style-type: none;
    position: relative;
}
nav ul{
    display: flex;
    justify-content: start;
    height: 100%;
    flex: 2.5;
}
nav .sublist{
    position: absolute;
    top: 150%;
    left: -90%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 190px;
    background-color: black;
    font-size: 15px;
    transition: 1s;
}
nav .sublist::before{
    content: "";
    bottom: 100%;
    left: 35%;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: black;
    position: absolute;
}
nav .sublist a{
    margin: 10px;
}
ul li:hover .sublist{
    display: flex;
    animation: show 0.5s 1;
    top: 100%;
}
@keyframes show{
    from{
       display: flex;
       top: 130%;
       opacity: 0.5; 
    }
    
    to{
       display: flex;
       top: 100%;
       opacity: 1;
    }
}
nav ul li{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 8%;
}

ul li a{
    text-decoration: none;
    font-weight: 500;
    position: relative;
}
ul li a::before{
    content: "";
   width: 0%;
   height: 1px;
   background-color: white;
   position: absolute;
   bottom: 0;
   transition: width 0.75s;
}
ul li a:hover:before{
    width:100%
}

.searchIcon{
    flex: 0.4;
    height: 100%;
    position: relative;
}
.searchIcon::before{
    content: "";
    width: 20px;
    height: 20px;
    right: 15px;
    top:40%;
    border: 2px solid;
    border-radius: 50%;
    position: absolute;
    transition: 1s;
   transition-property: border-color;
   cursor: pointer;
}
.searchIcon::after{
    content: "";
    width: 10px;
    height: 2px;
    background-color: white;
    position: absolute;
    transform: rotate(50deg);
    right: 12px;
    top: calc(40% + 25px);
    transition: 1s;
   transition-property: background-color;
   cursor: pointer;
}
.searchIcon:hover:after{
   background-color: green;
}
.searchIcon:hover:before{
    border-color:green ;
}

.humberger{
    flex: 0.5;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bar{
    width: 30px;
    height: 3px;
    background-color: #eee;
    position: relative;
    border-radius: 50px;
    transition: 1s;
    transition-property: background-color;
}

.bar::before,.bar::after{
   content: "";
   width: inherit;
   height: inherit;
   background-color: #eee;
   position: absolute;
   border-radius: inherit;
   transition: 1s;
   transition-property: background-color;
}

.bar::before{
    transform: translateY(8px);
}

.bar::after{
    transform: translateY(-8px);
}

.bar:hover, .bar:hover::before, .bar:hover::after{
    background-color: green;
}

@media screen and (max-width:1050px){
    ul li a{
        font-size: 12px;
    }
    .logo{
        font-size: 15px;
    }
    .logo::after, .logo::before{
        border-width: 12px;
    }
}

@media screen and (max-width:800px){
    nav ul{
        display: none;
    }
    .nav.active ul{
       margin-left: 13%;
    }
}

.nav.active{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.946);
    transition: 1s;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.nav.active ul{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:2.75 ;
}

.nav.active a{
   margin: 20px;
   font-weight: 900;
}
.nav.active li{
    margin-right: 25%;
}
.nav.active .searchIcon{
    display: none;
}
.nav.active .logo{
    height: 20vh;
    margin-bottom: 80vh;
    flex: 0.75;
}

.nav.active .logo::before{
    left: 11%;
}
.nav.active .logo::after{
    left: 14%;
}

.nav.active .humberger{
    height: 7vh;
    flex: 0.12;
    border-radius: 50%;
    margin-bottom: 80vh;
    background-color: white;
    margin-right: 20px;
    transition: 0.5s;

}
.nav.active .humberger:hover{
    box-shadow: -0.75px 1px 1px 10px rgba(255, 255, 255, 0.201);
    
}
.nav.active .bar{
    background-color: transparent;
}
.nav.active .bar::before{
    transform: translateY(0) rotate(45deg);
}

.nav.active .bar::after{
    transform: translateY(0) rotate(-45deg);
}

.nav.active .bar::after, .nav.active .bar::before{
     background-color: black;
    transition: 1s;
    width: 17px;
    left: 20%;
}

nav.search{
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.946);
    transition: 1s;
    position: absolute;
    width: 100%;
    z-index: 10;
}

nav.search .logo, nav.search ul, nav.search .humberger{
    display: none;
}
nav.search .searchIcon{
    flex: 0.6;
    width: 3%;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 40vh;
}
nav.search .searchIcon:hover{
    box-shadow: -0.75px 1px 1px 10px rgba(255, 255, 255, 0.201);
}
nav.search .searchIcon::after{
   display: none;
}

nav.search .searchIcon::before{
    content: "X";
    color: black;
    font-weight: 900;
    font-size: 25px;
    border-color: white;
    top: 12%;
    left: 27%;
}
@media screen and (max-width:1000px){
    nav.search .searchIcon{
        width: 5%;
    }
    nav.search .searchIcon::before{
        font-size: 25px;
    }
}

nav.search form{
    display: flex;
    border-bottom: 1px solid;
    width: 50%;
    height: 12%;
    margin-bottom: 36vh;
}

nav.search form input{
    height: 70%;
    width: 100%;
    font-size: 25px;
    font-weight: 600;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.446);
    border:none;
    opacity: 0.1;
    color: white;
}
nav.search form input:hover{
    opacity: 0.5;
}
nav.active .sublist, ul li:hover .sublist{
    display: none;
}

@media screen and (max-width:800px){
    nav.active ul{
        display: flex;
    }
    nav.active .sublist, ul li:hover .sublist{
        display: none;
    }
    nav.active .logo::after, nav.active .logo::before{
        top: 15px;
    }
    nav.search form{
        width: 95%;
    }
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20vh;
    right: 0;
    left: 0;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}
.container h1, .container h2, .container a{
    margin-bottom: 30px;
    text-align: center;
}
.container h1{
    font-size: 70px;
    width: 60%;
}
.container a{
    display: inline-block;
    background-color: black;
    height: 60px;
    padding: 20px 40px;
    text-decoration: none;
    font-weight: 700;
    position: relative;
}
.container a::after{
    content: "";
    height: 100%;
    width: 3px;
    background-color:white;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.5s;
}
.container a:hover{
    color: black;
    font-weight: 700;
    z-index: 1;
}
.container a:hover::after{
    width: 100%;
    z-index: -1;
}

.container{
    margin-top: 30px; 
}
.container h2{
    animation: hide2 1s 1;
}

.container h1, .container h2, .container a{
    margin-top: 10px;
    animation: hide 1s 1;
}
@keyframes hide{
   from{
       opacity: 0.2;
       margin-top: 50px;
   }
   to{
      opacity: 1;
      margin-top: 10px; 
   }
}

@keyframes hide2{
   from{
       opacity: 0.1;
   }
   to{
      opacity: 1;
   }
}

@media screen and (max-width:1050px){
    .container h1{
        font-size: 40px;
    }
}
@media screen and (max-width:800px){
    .container h1{
        font-size: 25px;
    }
}

.container2{
    background-color: black;
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container2 h2{
    font-size: 40px;
    width: 50%;
    text-align: center;
}
.container2 h2{
    margin-bottom: 20px;
}
.container2 p{
    width: 40%;
    text-align: center;
    margin-bottom: 50px;
}

.feilds{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 300px;
}

.feilds div{
    height: 250px;
    border: 1px solid;
    width: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 1s;
}

.feilds div:hover, .feilds div:hover h4{
    transform: perspective(800px) rotateY(180deg) scale(0.9);
    background-color: rgb(192, 25, 81);
    transition: 1s;
}




